@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer components {
  .main-container {
    @apply container mx-auto px-4 md:px-5 lg:px-7 2xl:px-9;
  }

  .main-spacing {
    @apply pt-12 md:pt-16 lg:pt-20 2xl:pt-24;
  }

  .common-transition {
    @apply transition-all ease-in-out duration-300 !important;
  }

  .title {
    @apply text-2xl lg:text-4xl 2xl:text-5xl lg:leading-[3.15rem] 2xl:leading-[3.75rem] capitalize tracking-wide font-bold text-gray-800;
  }

  .description {
    @apply tracking-wide capitalize text-gray-800;
  }

}

/* custom-quill styles */
.custom-quill .ql-editor {
  min-height: 60px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

/* Toolbar customization */
#toolbar .ql-bold,
#toolbar .ql-italic,
#toolbar .ql-underline,
#toolbar .ql-attach {
  padding: 0 8px;
  border: none;
  background: none;
  cursor: pointer;
} 

/* Active formatting styles */
#toolbar .ql-bold.ql-active,
#toolbar .ql-italic.ql-active,
#toolbar .ql-underline.ql-active {
  color: #007bff;
}

/* Send button */
.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

/* Remove border and outline from Quill container and editor */
.custom-quill .ql-container,
.custom-quill .ql-editor {
  border: none !important;
  outline: none !important;
}

/* Optionally, remove focus outline if necessary */
.custom-quill .ql-container.ql-snow {
  border: none;
}

.custom-quill .ql-editor:focus {
  outline: none !important;
}

/* Remove padding to match the input field styling
.custom-quill .ql-editor {
  padding: 0;
} */


.tag {
  background-color: #e0f7fa; /* Light blue background */
  color: #00796b; /* Darker blue text */
  border-radius: 4px;
  padding: 0 4px;
  display: inline-block;
  margin-right: 4px;
}


